.verify-container{

    .comfirm{
        font-size: 17px;
        font-weight: 600;
        margin-top: 30px;
        text-align: center;
        color: rgb(214, 40, 40);
        text-transform: uppercase;
    }
    .faile{
        font-size: 17px;
            font-weight: 600;
            margin-top: 30px;
            text-align: center;
            text-transform: uppercase;
            color: rgb(214, 40, 40);
    }
}